<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Knitting Data Communities</title>
</head>
<body>
    <h1>Knitting Data Communities</h1>
    <article>
        This site holds a <a href="manifesto/">manifesto</a> for a pluralistic data community, primarily focusing on
        data about the natural environment.
    </article>
</body>
</html>